<h2>Formulário de Produto</h2>
<div class="container">
  <form [formGroup]="productForm" id="product-form" class="form-inline col-6">
    <div class="row p-2">
      <div class="form-group">
        <label for="price">Price:</label>
        <input formControlName="price" type="number" class="form-control" id="product-price">
      </div>
    </div>
    <div class="row p-2">
      <div class="form-group">
        <label for="iva">Iva:</label>
        <select formControlName="iva" class="form-control" id="product-iva">
          <option *ngFor="let iva of ivas" [value]="iva">{{iva}}</option>
        </select>
      </div>
    </div>
    <div class="row p-2">
      <div class="form-group">
        <label for="discount">Discount:</label>
        <input formControlName="discount" type="number" class="form-control" id="product-discount">
      </div>
    </div>
    <button type="submit" class="btn btn-primary m-3" (click)="createProduct()">Submit</button>
  </form>
</div>

<div class="container">
  <p>{{productValue}}</p>
</div>
